<div *ngIf="person">
  <h3>{{ person.name }}</h3>
  <p>{{ person.description }}</p>
  <img [src]="person.image" alt="{{person.image}}'s image" style="max-width: 200px;">
</div>


<button (click)="onButtonClick()">Contattalo</button>
<br>
<div>
  <button type="button" (click)="dec()" title="smaller">-</button>
  <button type="button" (click)="inc()" title="bigger">+</button>

  <span [style.font-size.px]="size">FontSize: {{size}}px</span>
</div>


<input [(ngModel)]="text" (keyup)="onClick()" />
<button (click)="generateRandomKey()" (click)="onClick()" >RandomKey</button>

<p>Inserisci la key per visualizzare il numero di telefono</p>
<input [(ngModel)]="key" type="password" placeholder="Inserisci la key" />

<button (click)="invioKey()"  >Conferma</button>
<div *ngIf="keyCorrect=='true'">
Key corretta!
{{person.numeroTel}}
</div>

<div *ngIf="keyCorrect=='false'">
Key sbagliata, riprova!
  </div>
<br>
  <a routerLink="/request" routerLinkActive="active">MANDA UNA RICHIESTA</a>